<ion-content class="shopping-page" color="tertiary" [fullscreen]="true">

  <div class="shopping-box" >

    <ion-button> Continuar comprando </ion-button>

    <div class="item-box">
      <ion-img src="./assets/image/cover.jpg" alt="Produto do Carrinho"/>
      <div class="item-info">
        <strong> Produto </strong>
        <p> R$ 10,00 </p>
        <ion-list>
          <ion-item-sliding>
            <ion-button color="danger"> + </ion-button>
            <ion-item-options>
              <ion-button color="danger"> - </ion-button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>

    </div>

  </div>

</ion-content>

