.catalog-page {
  height: fit-content;
  .catalog-box {
    display: flex;
    flex-direction: row;
    background-color: var(--ion-color-tertiary);
    flex-wrap: wrap;
    justify-content: space-evenly;
    .catalog-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: var(--ion-color-primary);
      box-shadow: 0 0 15px var(--ion-color-danger-shade);
      width: 40%;
      height: 40%;
      border-radius: 5px;
      margin-top: 30px;
      padding-bottom: 5px;
      .img-box {
        border-radius: 5px;
        border: 5px solid var(--ion-color-primary);
      }
      p, strong {
        margin: 0;
        font-size: 12px;
      }
    }
    .add-btn {
      --background: var(--ion-color-success);
    }
  }
}
