<ion-content class="catalog-page" color="tertiary" [fullscreen]="true">

  <div class="catalog-box" >
    <div class="catalog-item" *ngFor="let item of itensMock">
      <div class="img-box">
        <ion-img src="./assets/image/cover.jpg" alt="Produto do Carrinho" />
      </div>
      <div>
        <p> {{ item.product }} </p>
        <strong> {{ formatPrice(item.price) }} </strong>
      </div>
      <ion-button size="small" class="add-btn" (click)="addToKart()"> Comprar </ion-button>
    </div>
    <ion-button class="btn-shopping" color="success" (click)="goToShopping()"> Concluir Pedido </ion-button>
  </div>

</ion-content>

